<template>
    <div>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            Create activitie
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new activitie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="saveActivitie" enctype="multipart/form-data">
                    <div class="form-group">
                        <label >Name</label>
                        <input type="text" v-model="name" class="form-control" placeholder="Enter name">
                        <span v-if="errors.name">{{errors.name[0]}}</span>
                    </div>

                    <div class="form-group">
                        <label >Date</label>
                        <input type="date" v-model="date" class="form-control" placeholder="Enter date">
                        <span v-if="errors.date">{{errors.date[0]}}</span>
                    </div>

                    <div class="form-group">
                        <label >Hours</label>
                        <input type="number" v-model="hour" class="form-control" placeholder="Enter hour">
                        <span v-if="errors.hour">{{errors.hour[0]}}</span>
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Create</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'

export default {

    data(){
        return{
            errors: [],
            name:null,
            date: '',
            hour: null
        }
    },
    methods:{
        catchImage(e){
            this.logo = e.target.files[0];
            console.log(this.logo)
        },
        saveActivitie(){

            let formData = new FormData();
            formData.append('name', this.name)
            formData.append('date', this.date)
            formData.append('hour', this.hour)

            axios.post('/activitie',formData)
            .then((res)=>{
                console.log(res)
                if (res.data > 0) {
                    Swal.fire({
                    title: 'Error',
                    text: `Hour not allowed`,
                    type: 'success',
                    confirmButtonText: 'ok'
                    });
                } else{
                    let name = res.data;
                    Swal.fire({
                    text: `Activitie ${name} created successfully`,
                    type: 'success',
                    confirmButtonText: 'Cool'
                    }).then((res)=>{
                        location.reload();
                    })
                }

            })
            .catch((error)=>{
                this.errors = error.response.data.errors;
                console.log(this.errors.date[0])
            })
        }
    }
}
</script>
