<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="editModalCompany" data-backdrop="static" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit activitie: {{activitie.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" @click="closeModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form @submit.prevent="updateActivitie" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" v-model="date" class="form-control" placeholder="Enter date">
                        <!-- <span v-if="errors.date">{{errors.date}}</span> -->
                    </div>
                    <div class="form-group">
                        <label>Hour</label>
                        <input type="number" v-model="hour" class="form-control" placeholder="Enter hour">
                        <!-- <span v-if="errors.hour">{{errors.hour}}</span> -->
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Update</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'

export default {
    props:['activitie'],
    data(){
        return{
            date: null,
            hour: null
        }
    },
    methods:{
        closeModal(){
            this.$emit('cerrar')
        },
        updateActivitie(){
            console.log(this.activitie.id);
            axios.put(`/activitie/${this.activitie.id}`, {
                date: this.date,
                hour: this.hour
            })
            .then((res)=>{
                if (res.data > 0) {
                    Swal.fire({
                    title: `Error`,
                    text: `Total hours for this activity not allowed`,
                    type: 'error',
                    confirmButtonText: 'ok'
                    });
                } else {
                    let name = res.data;
                    Swal.fire({
                    text: `Activitie updated successfully`,
                    type: 'success',
                    confirmButtonText: 'Cool'
                    }).then((res)=>{
                        location.reload();
                    })
                }
            })
            .catch((error)=>{
                console.log(error)
                this.errors = error.response.data.errors;
            })
        }
    }
}
</script>
