<template>
    <div>
        <edit-activitie
            v-if="openModal"
            :activitie=activitie
            @cerrar="openModal = false"
        ></edit-activitie>

        <create-activitie></create-activitie>
        <br>
    <div class="container">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="activitie in activities" :key="activitie.id">
                <td><a :href="`activitie/${activitie.id}`"> {{activitie.name}}</a></td>
                <td>
                    <i style="cursor:pointer" title="Edit" @click="editActivitie(activitie)" data-toggle="modal" data-target="#editModalCompany" class="material-icons">edit</i>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2'

    export default {
        props:['activities'],

        data(){
            return{
                openModal: false,
                activitie: '',
            }
        },

        methods:{
            editActivitie(activitie){
                this.openModal = true;
                this.activitie = activitie;
                console.log("hola");
            },
            deleteCompany(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.value) {
                    axios.delete(`/company/${id}`)
                    .then((res)=>{
                        Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then((res)=>{
                        location.reload();
                        })
                    })
                }
                })
            }
        },
        mounted() {
            console.log(this.activities)
        }
    }
</script>
