<template>
<div>
    <div class="card">
        <div class="card-header">
            My array
        </div>
        <div class="card-body">
            <div v-if="max != 0">{{max}}</div>
            <button class="btn btn-block btn-primary" v-on:click="calculateValueArray()">calcular</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Array histograma
        </div>
        <div class="card-body">
            <div v-if="histograma">
                <div>{{myArrayH}}</div>
            </div>
             <button class="btn btn-block btn-primary"  v-on:click="arrayHistograma()">histograma</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Array ocurrencia
        </div>
        <div class="card-body">
            <div v-if="myArrayO.number > 0">Number: {{myArrayO.number}} Longest: {{myArrayO.count}}</div>
            <button class="btn btn-block btn-primary"  v-on:click="ocurrencias()">ocurrencias</button>
        </div>
    </div>


</div>
</template>

<script>
    export default {
        data(){
            return{
                myArray: [13,2,4,35,1],
                myArrayH: [],
                histograma: false,
                myArrayO: [1,2,2,4,5,6,7,8,8,8],
                max: 0
            }
        },
        methods:{
            calculateValueArray(){
                let max = 0;
                this.myArray.forEach(element => {
                    if (element > max) {
                        max = element
                    }
                });
                this.max = max;
            },

            arrayHistograma(){
                this.myArrayH = [1,2,1,3,3,1,2,1,5,1];
                let histograma = {};
                this.myArrayH.forEach(element => {
                    histograma[element] = (histograma[element] || 0) + 1;
                });

                this.myArrayH = histograma;
                for (const property in this.myArrayH) {
                    let count = '';
                    for (let index = 0; index < this.myArrayH[property]; index++) {
                        count = count + "*";
                    }
                    histograma[property] = count;
                }
                this.histograma = true;
            },

            ocurrencias() {
                let ocu = {};
                let ocurrencia = this.myArrayO.reverse();
                ocurrencia.forEach(element => {
                    ocu[element] = (ocu[element] || 0) + 1;
                    if (ocu[element] > 2) {
                        this.myArrayO = {number: element, count: ocu[element]};
                    }
                });

            }
        }
    }
</script>
